@import "./_variable.css";

.movie .buttons {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie .buttons .button {
    cursor: pointer;
    display: inline-block;
    margin: 0 1.2rem;
    background: var(--light-grey);
    color: var(--white);
    min-width: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: var(--transition);
}
.movie .buttons .button.active {
    color: white;
}
.movie .buttons .button:hover{
    background: #FF2A2A;
}
