:root {
    --mainClr: rgba(255, 42, 42, 1);
    --border: 1px solid rgba(0, 0, 0, 0.25);
    --white: #fff;
    --black: #000;
    --333: #333;
    --light-grey: rgba(0, 0, 0, 0.5);
    --transition: all 0.25s ease;
}
